html {
    font-size: 16px;
}
h2 {
    font-size: 2.75rem;
    margin-bottom: 1.25rem;
}
h6 {
    font-size: 1rem;
    margin-bottom: 1.25rem;
}
h3 {
    font-size: 1.5rem;
    margin-bottom: 1.25rem;
}
p {
    font-size: 1.2rem;
    margin-bottom: 1.25rem;
    line-height: 2;
}

.btn {
    padding: 12px 32px;
    margin-bottom: 20px;
    border-radius: 30px;
    color: #000000;
    text-transform: uppercase;
    
    .hero & {
        background-color: transparent;
        border: 2px solid black;
    }
    .form & {
        background-color: #ffffff;
        color: #000000;
        border: none;
    }

}

.grid-text {
    padding: 50px;
    
    align-self: center;
}

.text-center {
    text-align: center;
}