/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
}

*, *:before, *:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  outline: none;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.container-1-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

html {
  font-size: 16px;
}

h2 {
  font-size: 2.75rem;
  margin-bottom: 1.25rem;
}

h6 {
  font-size: 1rem;
  margin-bottom: 1.25rem;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 1.25rem;
}

p {
  font-size: 1.2rem;
  margin-bottom: 1.25rem;
  line-height: 2;
}

.btn {
  padding: 12px 32px;
  margin-bottom: 20px;
  border-radius: 30px;
  color: #000000;
  text-transform: uppercase;
}
.hero .btn {
  background-color: transparent;
  border: 2px solid black;
}
.form .btn {
  background-color: #ffffff;
  color: #000000;
  border: none;
}

.grid-text {
  padding: 50px;
  align-self: center;
}

.text-center {
  text-align: center;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
}
.header .header-nav {
  justify-content: space-between;
  align-items: center;
}
.header .logo h1 {
  color: #292929;
  font-size: 24px;
  letter-spacing: 2px;
  font-weight: 600;
}
.header .nav-links a {
  text-transform: uppercase;
  margin-left: 20px;
  color: #716c6a;
}
.header li a[href$=".html"] {
  color: #bc8b3e;
}
.header .ham {
  display: none;
  color: #bc8b3e;
}

.hero {
  background-color: #f5e3d7;
}

.hero-img {
  grid-column: 1/span 2;
  font-size: 0;
}
.hero-img img {
  width: 100%;
}

.hero-text {
  grid-column: 3/span 2;
}
.hero-text h6 {
  text-transform: uppercase;
  color: #aaa7a5;
  letter-spacing: 2px;
}
.hero-text h2 {
  color: #393939;
}
.hero-text h2 strong {
  font-weight: bold;
  color: #273131;
}
.hero-text p {
  color: #d6c9c1;
}

.skills-text-left {
  grid-column: 1/span 2;
}
.skills-text-left h6 {
  color: #f2c782;
}
.skills-text-left p {
  color: #d6c9c1;
}

.skills-text-right {
  grid-column: 4;
  background-color: #ecaf4e;
  width: 100%;
  height: 100%;
}
.skills-text-right h2 {
  color: #ffffff;
}
.skills-text-right h6 {
  color: #ffffff;
}
.skills-text-right progress {
  height: 2px;
}

.skills img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.experiences-img {
  grid-column: 1/span 2;
  font-size: 0;
}
.experiences-img img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.experiences-text {
  grid-column: 3/span 2;
  background-color: #fc683e;
  width: 100%;
  height: 100%;
  color: #ffffff;
}
.experiences-text .fas {
  color: #ffffff;
  font-size: 32px;
  margin-right: 10px;
}
.experiences-text small {
  color: #713234;
}
.experiences-text .col-text {
  width: 80%;
}

.education-text {
  grid-column: 1/span 2;
  background-color: #ecaf4e;
  height: 100%;
  color: #ffffff;
}
.education-text .fas {
  color: #ffffff;
  font-size: 32px;
  margin-right: 10px;
}
.education-text small {
  color: #a5811e;
}
.education-text .col-text {
  width: 80%;
}

.education-img {
  grid-column: 3/span 2;
  font-size: 0;
}
.education-img img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.bg-gold {
  background-color: #ecaf4e;
  color: #ffffff;
  padding: 50px 50px;
}
.bg-gold i {
  font-size: 44px;
  margin-bottom: 20px;
}

.bg-crimson {
  background-color: #fc683e;
  color: #ffffff;
  padding: 50px 50px;
}
.bg-crimson i {
  font-size: 44px;
  margin-bottom: 20px;
}

.bg-black {
  background-color: #000000;
  color: #ffffff;
  padding: 50px 50px;
}
.bg-black i {
  font-size: 44px;
  margin-bottom: 20px;
}

.bg-white {
  background-color: #ffffff;
  color: #3e3e3e;
  padding: 50px 50px;
}
.bg-white i {
  font-size: 44px;
  margin-bottom: 20px;
}

.form-text {
  grid-column: 1/span 2;
  background-color: #fc683e;
  color: #ffffff;
}
.form-text .form-action {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
  outline: none;
  border: none;
  border-bottom: 2px solid #ecaf4e;
  background-color: transparent;
  padding: 20px;
  color: #ffffff;
  font-size: 18px;
}

.contact {
  background-color: #000000;
  color: #ffffff;
  height: 100%;
}
.contact li {
  margin-bottom: 1.25rem;
}
.contact li i {
  margin-right: 10px;
}
.contact li a {
  color: #ffffff;
}

.form-img {
  grid-column: 3;
  font-size: 0;
}
.form-img img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.map {
  background-color: #fc683e;
  padding: 60px 0;
}

.footer {
  padding: 100px 0;
}
.footer small {
  color: #aaa7a5;
}

@media all and (max-width: 768px) {
  html {
    font-size: 10px;
  }

  .header {
    position: static;
    background-color: #ffffff;
    padding: 40px 40px;
  }
  .header .logo {
    z-index: 10;
  }
  .header .nav-menu {
    display: none;
  }
  .header .ham {
    display: inline-block;
    font-size: 28px;
    z-index: 10;
  }
  .header #toggle {
    display: none;
  }
  .header .ham:checked ~ .nav-menu {
    display: inline-block;
    background-color: rgba(214, 201, 193, 0.8);
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 150px;
  }
  .header .ham:checked ~ .nav-menu .nav-links {
    display: inline-block;
    text-align: center;
  }
  .header .ham:checked ~ .nav-menu .nav-links li {
    margin-bottom: 2.5rem;
  }
  .header .ham:checked ~ .nav-menu .nav-links li a {
    font-size: 2rem;
  }

  .container-1-4 {
    grid-template-columns: repeat(2, 1fr);
  }

  .hero-text {
    grid-column: 1/span 2;
  }

  .skills-text-left, .skills-text-right {
    grid-column: 1/span 2;
  }

  .skills img {
    grid-column: 1/span 2;
  }

  .bg-gold, .bg-crimson, .bg-black, .bg-white {
    grid-column: 1/span 2;
  }

  .experiences-text {
    grid-column: 1/span 2;
  }

  .education-img {
    grid-column: 1/span 2;
  }

  .form-img, .contact {
    grid-column: 1/span 2;
  }
}

/*# sourceMappingURL=main.css.map */
