@import "reset.scss";
@import "vars.scss";
@import "grid.scss";
@import "base.scss";

.flex {
    @extend %flex;
}


.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    .header-nav {
        justify-content: space-between;
        align-items: center;
    }
    .logo h1 {
        color: #292929;
        font-size: 24px;
        letter-spacing: 2px;
        font-weight: 600;
    }
    .nav-links a {
        text-transform: uppercase;
        margin-left: 20px;
        color: #716c6a;
    }

    li a[href$=".html"]
    {
        color: #bc8b3e;
    }
    .ham {
        display: none;
        color: #bc8b3e;
    }
   
}
.hero {
    background-color: #f5e3d7;
    
   
}
.hero-img {
    grid-column: 1 / span 2;
    font-size: 0;
    img{
        width: 100%;
    }
}



.hero-text {
    grid-column: 3 / span 2;
    
   
    h6 {
        text-transform: uppercase;
        color: #aaa7a5;
        letter-spacing: 2px;
    }
    h2 {
        color: #393939;
        strong {
            font-weight: bold;
            color: #273131;
        }
    }
    p {
        color: #d6c9c1;
    }

}

.skills-text-left {
    grid-column: 1 / span 2;
    h6 {
        color: #f2c782;
    }
    p {
        color: #d6c9c1;
    }
}
.skills-text-right {
    grid-column: 4;
    background-color: #ecaf4e;
    width: 100%;
    height: 100%;
    h2 {
        color: #ffffff;

    }
    h6 {
        color: #ffffff;
    }
    progress {
        height: 2px;
        
    }
   
}

.skills img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.experiences-img {
    grid-column: 1 / span 2;
    font-size: 0;
    img {
        width: 100%;
        height: 600px;
        object-fit: cover;
    }
}
.experiences-text {
    grid-column: 3 / span 2;
    background-color: #fc683e;
    width: 100%;
    height: 100%;
    
    color: #ffffff;
    .fas {
        color: #ffffff;
        font-size: 32px;
        margin-right: 10px;
    }
    small {
        color: #713234;
    }
    .col-text {
        width: 80%;
    }
    
   
}
.education-text {
    grid-column: 1/span 2;
    background-color: #ecaf4e;
    height: 100%;
    color: #ffffff;
    .fas {
        color: #ffffff;
        font-size: 32px;
        margin-right: 10px;
    }
    small {
        color: #a5811e;
    }
    .col-text {
        width: 80%;
    }
}

.education-img {
    grid-column: 3/span 2;
    font-size: 0;
    img {
        width: 100%;
        height: 600px;
        object-fit: cover;
    }
}


.bg-gold {
    background-color: #ecaf4e;
    color: #ffffff;
    padding: 50px 50px;
    i {
        font-size: 44px;
        margin-bottom: 20px;
    }
}

.bg-crimson {
    background-color: #fc683e;
    color: #ffffff;
    padding: 50px 50px;
    i {
        font-size: 44px;
        margin-bottom: 20px;
    }
}
.bg-black {
    background-color: #000000;
    color: #ffffff;
    padding: 50px 50px;
    i {
        font-size: 44px;
        margin-bottom: 20px;
    }

}
.bg-white {
    background-color: #ffffff;
    color: #3e3e3e;
    
    padding: 50px 50px;
    i {
        font-size: 44px;
        margin-bottom: 20px;
    }

}


.form-text {
    grid-column: 1 / span 2;
    background-color: #fc683e;
    color: #ffffff;
    .form-action {
        display: inline-block;
        width: 100%;
        margin-bottom: 20px;
        outline: none;
        border: none;
        border-bottom: 2px solid #ecaf4e;
        background-color: transparent;
        padding: 20px;
        color: #ffffff;
        font-size: 18px;
    }
    
}

.contact {
    background-color: #000000;
    color: #ffffff;
    height: 100%;
    
    li  {
        margin-bottom: 1.25rem;
        i {
            margin-right: 10px;
        }
        a {
        color: #ffffff;
        }
        
    }

}
.form-img {
    grid-column: 3;
    font-size: 0;
    img {
        width: 100%;
        object-fit: cover;
        height: 100%;
    }
}
.map {
    background-color: #fc683e;
    padding: 60px 0;
}

.footer {
    padding: 100px 0;
    small {
        color: #aaa7a5;
    }
}


@media all and (max-width: 768px) {
    html {
        font-size: 10px;
    }
    .header {
        position: static;
        background-color: #ffffff;
        padding: 40px 40px;
        .logo {
            z-index: 10;
        }
        .nav-menu {
            display: none;
        }
        .ham {
            display: inline-block;
            font-size: 28px;
            z-index: 10;
        }
        #toggle {
            display: none;
        }
        .ham:checked ~ .nav-menu {
            display: inline-block;
            background-color: rgba((#d6c9c1),0.8);
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            text-align: center;
            padding-top: 150px;
            
            
            .nav-links {
                display: inline-block;
                text-align: center;
                li {
                    margin-bottom: 2.5rem;
                    a {
                        font-size: 2rem;
                    }
                }
            }
            
            
            
        }

    }
    .container-1-4 {
        grid-template-columns: repeat(2,1fr);
    }
  
    .hero-text {
        grid-column: 1 / span 2;
    }
    .skills-text-left, .skills-text-right {
        grid-column: 1 / span 2;
    }
    .skills img {
        grid-column: 1 / span 2;
        
    }
    .bg-gold, .bg-crimson, .bg-black, .bg-white {
        grid-column: 1 / span 2;
    }
    .experiences-text {
        grid-column: 1 / span 2;
       
    }
    .education-img {
        grid-column: 1 / span 2;
    }
    .form-img, .contact {
        grid-column: 1 / span 2;
    }
}