@import "reset.scss";
@import "vars.scss";
@import "grid.scss";
@import "base.scss";

.flex {
    @extend %flex;
}


.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    .logo h1 {
        color: #292929;
        font-size: 24px;
        letter-spacing: 2px;
    }
    .nav-links a {
        text-transform: uppercase;
        margin-left: 20px;
        color: #716c6a;
    }

    li a[href$=".html"]
    {
        color: #bc8b3e;
    }
}
.hero {
    background-color: #f5e3d7;
   
}
.hero-img {
    grid-column: 1 / span 2;
    img{
        width: 100%;
    }
}



.hero-text {
    grid-column: 3 / span 2;
   
    h6 {
        text-transform: uppercase;
        color: #aaa7a5;
        letter-spacing: 2px;
    }
    h2 {
        color: #393939;
        strong {
            font-weight: bold;
            color: #273131;
        }
    }
    p {
        color: #d6c9c1;
    }

}

.skills-text-left {
    grid-column: 1 / span 2;
    h6 {
        color: #f2c782;
    }
    p {
        color: #d6c9c1;
    }
}
.skills-text-right {
    grid-column: 4;
    background-color: #bc8b3e;
    width: 100%;
    height: 100%;
   
   
}

.skills img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.experiences-img {
    grid-column: 1 / span 2;
    img {
        width: 100%;
        height: 600px;
        object-fit: cover;
    }
}
.experiences-text {
    grid-column: 3 / span 2;
    background-color: #fc683e;
    width: 100%;
    height: 100%;
   
}
.education-text {
    grid-column: 1/span 2;
}

.education-img {
    grid-column: 3/span 2;
    img {
        width: 100%;
        height: 600px;
    }
}


.bg-gold {
    background-color: #bc8b3e;
    color: #ffffff;
    padding: 50px 50px;
    i {
        font-size: 44px;
        margin-bottom: 20px;
    }
}

.bg-crimson {
    background-color: #fc683e;
    color: #ffffff;
    padding: 50px 50px;
    i {
        font-size: 44px;
        margin-bottom: 20px;
    }
}
.bg-black {
    background-color: #000000;
    color: #ffffff;
    padding: 50px 50px;
    i {
        font-size: 44px;
        margin-bottom: 20px;
    }

}
.bg-white {
    background-color: #ffffff;
    color: #3e3e3e;
    
    padding: 50px 50px;
    i {
        font-size: 44px;
        margin-bottom: 20px;
    }

}